body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrap {
  padding: 1rem;
}
.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.cell {
  aspect-ratio: 1;
  background-color: rgb(244, 244, 244);
  border: 1px solid rgb(197, 197, 255);
}

.endgame {
  padding: 1rem;
  font-weight: 700;
  font-stretch: condensed;
}
.win {
  background-color: #15e2b6;
}

.lost {
  background-color: #fa5c44;
}
.jo {
  background-color: #15e2b6;
  width: 200px;
  transition: all ease-in-out 200ms;
}
.ne {
  background-color: #fa5c44;
  width: 100px;
  transition: all ease-in-out 200ms;
}
