body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrap {
  padding: 1rem;
}
.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.cell {
  aspect-ratio: 1;
  background-color: rgb(244, 244, 244);
  border: 1px solid rgb(197, 197, 255);
}

/* color: ${({ color }) => {
  return color;
}};
background-color: ${({ bg }) => {
  return bg;
}}; */
/* transform: ${({ translateX, translateY }) => {
  const x = translateX === 0 ? 0 : translateX + "00%";
  const y = translateY === 0 ? 0 : translateY + "00%";
  return `translate(${x}, ${y})`;
}}; */

.tile {
  position: absolute;
  width: 25%;
  aspect-ratio: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, 0);
  transition: transform ease-in-out 200ms;
}
.tile-moved {
  transform: translate(100%, 0);
}
.tile h1 {
  color: green;
  font-size: 2rem;
}

.koko-wrap {
  position: relative;
}
.koko {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #f19075;
  margin: 0 auto; /* So as to center the box */
  transition-property: all;
  transition-duration: 250ms;
}

.koko-moved {
  transform: translate(100px, 0);
  background-color: #1e5de7;
}
